.Popoverbody {
  display: inline-flex;
  flex-direction: column;
  padding: 1em 2em;
  background: #f9ca4b;
  color: black;
  font-family: "open sans";
  font-weight: 100;
  font-size: 15px;
  border: 4px solid #33495F;
  width: 240px;
  text-align: center;

  svg {
    display: none;
  }

  i {
    margin-right: 0.75em;
    color: #33495f;
    font-size: 1.5em;
  }
}

.Contact {
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: 4px solid #33495F;
  margin-top: 40px;
  background: #ECF0F1;

  .section {
    .teamimage {
      width: 100%;
      display: block;
      justify-content: center;
    }

    .contactTower {
      display: flex;
      flex-direction: column-reverse;
      margin-bottom: 2.25em;

      @media (min-width: 768px) {
        margin: 0 0 3.125em 0;
        flex-direction: row;
        justify-content: space-between;
      }

      .form {
        display: flex;
        flex-direction: column;
        margin: 0 1rem;
        @media (min-width: 768px) {
          width: 480px;
          margin: 0;
        }

        i {
          margin-right: 0.5em;
          width: 16px;
        }

        input, textarea, button {
          font-family: "Open Sans";
          font-weight: 100;
          font-size: 14px;
          padding: 4px 8px;
          height: 35px;
          border-top: 4px solid #33495F;
          border-left: 4px solid #33495F;
          border-right: 4px solid #33495F;
          border-bottom: none;
          background: none;
          resize: none;

          &::-webkit-input-placeholder {
            color: #777;
          }

          &:focus {
            outline: none;
          }

          &.projectInfo {
            height: 135px;
          }

          &.submit {
            padding: 0;
            text-align: center;
            border-bottom: 4px solid #33495F;
            color: white;
            font-weight: 500;
            font-size: 12pt;
            background: #33495F;
            cursor: pointer;
          }
        }
      }

      .tower {
        height: 276px;
        @media (min-width: 768px) {
          margin: 0 16px;
        }
      }

    }

    .teamimage {
      width: 100%;
    }
  }
}
