.home-page .navlink[href="/"],
.services-backend-page .navlink[href="/services/node-js-development"],
.services-frontend-page .navlink[href="/services/front-end-development"],
.services-design-page .navlink[href="/services/design"],
.opensource-page .navlink[href="/opensource"],
.contact-page .navlink[href="/contact"] {
  cursor: default;
  text-decoration: underline !important;
}

.header {
  background: #ECF0F1;
  background: -moz-linear-gradient(-45deg, #dcebef 0%, #ecf0f1 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #dcebef 0%,#ecf0f1 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #dcebef 0%,#ecf0f1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */



  .navbar {
    text-align: right;

    .navlink {
      color: #33495F;
      font-size: 23px;
      font-family: 'Open Sans Condensed', sans-serif;
      font-weight: 900;
      margin-right: 1em;
      line-height: 3em;
      text-decoration: none;

      &:hover, &:active {
        text-decoration: underline;
      }
    }
  }
  .banner {
    display: flex;
    height: 360px;
    border-bottom: 4px solid #33495F;

    .mainContent {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .logo {
      width: 100%;
      @media (min-width: 768px) {
        height: 96px;
        margin-top: 2em;
      }
    }

    .skyline {
      width: 100%;
      @media (min-width: 768px) {
        margin-bottom: -4px;
      }
    }
  }
}
