@import 'ecosystems/ContactSection.scss';
@import 'ecosystems/HeaderSection.scss';
@import 'ecosystems/FooterSection.scss';
@import 'environments/HomePage.scss';
@import 'environments/OpenSourcePage.scss';
@import 'environments/ContactPage.scss';
@import 'environments/NodeServicePage.scss';
@import 'environments/DesignServicePage.scss';
@import 'environments/FrontendServicePage.scss';

body {
  font-family: "open sans";
  font-weight: 100;
  line-height: 1.5;
  color: #888;
  font-size: 15px;
  margin: 0;
}

body * {
  font-family: "open sans";
  font-weight: 100;
  margin: 0;
}

h1 {
  color: black;
  font-size: 36px;
  margin: 40px 0 20px 0;
  text-align: center;
}

h2 {
  color: black;
  font-size: 22px;
  margin: 20px 0 40px 0;
  text-align: center;
}

a {
  text-decoration: none;
}

.flexLeft {
  flex: 1;
}
.flexRight {
  flex: 1;
}
.flexMiddle {
  min-width: 750px;
  max-width: 750px;
  justify-content: center;
  align-items: center;
}

.Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.section {
  display: flex;
  flex-direction: column;
  margin: 0 2em;

  .backfrontdesign {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }

  .services {
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      height: 85px;
      margin-bottom: 1em;
    }
    div {
      height: 120px;
    }

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }

    .design,
    .frontend,
    .backend {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      margin-bottom: 2em;
      padding: 0 2em;

      h1, h2 {
        margin: 10px 0 10px 0;
      }

      @media screen and (min-width: 768px) {
        width: 190px;
        height: 280px;
        margin-bottom: 0;
      }
    }

    .frontend {
      @media screen and (min-width: 768px) {
        border-left: 1px solid #979fb2;
        border-right: 1px solid #979fb2;
      }
    }

    .design {}

  }

  .trails {
    padding: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 2em;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      text-align: left;
      margin-bottom: 6.5em;
    }

    .trailslogo {
      height: 50px;
      @media (min-width: 768px) {
        margin-right: 1.625em;
        margin-bottom: 0;
      }
    }

    .trailstext {
      display: flex;
      flex-direction: column;

      font-family: "open sans";
      align-items: center;
      @media screen and (min-width: 768px) {
        align-items: flex-start;
      }

      p {
        @media screen and (min-width: 768px) {
          margin-top: 0;
          margin-bottom: 4px;
        }
      }

      .button {
        color: #33495F;
        font-size: 14px;
        width: 80px;
        border: 2px solid #33495F;
        padding: 7px 10px;
        margin-bottom: 5px;
        text-decoration: none;

        &:hover {
          color: white;
          background: #33495F;
        }
      }

      .body {
        color: grey;
        font-weight: 100;
      }
    }
  }
}
