.Body {
  display: flex;
  height: 640px;
  border-bottom: 1px solid #87898a;

  .main {
    display: flex;
    flex-direction: column;

    > h1 {
      font-size: 36px;
      margin: 50px 0 20px 0;
      text-align: center;
    }

    > h2 {
      font-size: 22px;
      margin: 30px 0 20px 0;
      text-align: center;
    }

    .backfrontdesign {
      display: flex;
      flex-direction: row;
      margin-top: 40px;

      .backend {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        height: 250px;
      }

      .frontend {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        height: 250px;

        border-left: 1px solid #979fb2;
        border-right: 1px solid #979fb2;

      }

      .design {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        height: 250px;

      }
    }

    .trails {
      margin-top: 80px;
      display: flex;
      justify-content: center;
      align-items: center;

      .trailslogo {
        height: 50px;
        margin-right: 25px;
      }

      .trailstext {
        display: flex;
        flex-direction: column;

        .checkitout {
          color: #33495F;
          font-size: 14px;
          width: 80px;
          border: 2px solid #33495F;
          padding: 7px 10px;
          margin-bottom: 5px;
          text-decoration: none;

          &:hover {
            color: white;
            background: #33495F;
          }
        }

        .body {
          color: grey;
          font-weight: 100;
        }
      }
    }
  }
}
