.Body {
  display: flex;
  height: 725px;
  border-bottom: 1px solid #87898a;

  .main {
    display: flex;
    flex-direction: column;

    > h1 {
      font-family: "open sans";
      font-weight: 100;
      font-size: 32pt;
      margin: 80px 0 60px 0;
      text-align: center;
    }

    .backfrontdesign {
      display: flex;
      flex-direction: row;

      h2 {
        font-family: "open sans";
        font-weight: 100;
      }

      .backend {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        height: 250px;
      }

      .frontend {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        height: 250px;

        border-left: 1px solid #979fb2;
        border-right: 1px solid #979fb2;

      }

      .design {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        height: 250px;

      }
    }

    .trails {
      margin-top: 100px;
      display: flex;
      justify-content: center;
      align-items: center;

      .trailslogo {
        height: 50px;
        margin-right: 25px;
      }

      .trailstext {
        display: flex;
        flex-direction: column;
        font-family: "open sans";

        .checkitout {
          color: #33495F;
          font-size: 10pt;
          width: 70px;
          border: 2px solid #33495F;
          padding: 7px 10px;
          margin-bottom: 5px;
          text-decoration: none;

          &:hover {
            color: white;
            background: #33495F;
          }
        }

        .body {
          color: #868BB0;
          font-weight: 100;
        }
      }
    }
  }
}