.Body {
  display: flex;
  height: 750px;
  border-bottom: 1px solid #87898a;

  .main {
    display: flex;
    flex-direction: column;

    > h1 {
      font-family: "open sans";
      font-weight: 100;
      font-size: 32pt;
      margin: 80px 0;
      text-align: center;
    }

    .backfrontdesign {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      h2 {
        font-family: "open sans";
        font-weight: 100;
      }



      .backend {
        display: flex;
        flex-direction: column;
        align-content: center;
        text-align: center;

      }

      .frontend {
        display: flex;
        flex-direction: column;
        align-content: center;
        text-align: center;

      }

      .design {
        display: flex;
        flex-direction: column;
        align-content: center;
        text-align: center;

      }
    }
  }
}