.Contact {
  background: #ECF0F1;

  .header {

    > h1 {
      font-family: "open sans";
      font-weight: 100;
      font-size: 32pt;
      margin: 0px 0 50px 0;
      padding-top: 40px;
      text-align: center;
    }
  }

  .main {
    display: flex;

    .teamimage {
      width: 100%;
    }

    .contactTower {
      margin: 0 0 50px 0px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .form {
        width: 450px;
        display: flex;
        flex-direction: column;

        input, textarea {
          font-family: "Open Sans";
          font-weight: 100;
          font-size: 11pt;
          padding: 5px;
          height: 35px;
          border-top: 4px solid #33495F;
          border-left: 4px solid #33495F;
          border-right: 4px solid #33495F;
          border-bottom: none;
          background: none;
          resize: none;

          &::-webkit-input-placeholder {
            color: #777;
          }

          &:focus {
            outline: none;
          }

          &.projectInfo {
            height: 115px;
          }

          &.submit {
            color: white;
            font-weight: 500;
            font-size: 12pt;
            background: #33495F;
            cursor: pointer;
          }
        }
      }

      .tower {
        height: 220px;
      }
    }
  }
}
