.Contact {
  display: flex;
  background: #ECF0F1;

  .teamimage {
    width: 100%;
  }

  .contactTower {
    margin: 50px 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .form {
      width: 425px;
      display: flex;
      flex-direction: column;

      input {
        height: 25px;
        border-top: 4px solid #33495F;
        border-left: 4px solid #33495F;
        border-right: 4px solid #33495F;
        border-bottom: none;
        background: none;
      }
    }

    .tower {
      height: 200px;
    }
  }
}