@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

.Footer {
  display: flex;
  justify-content: center;
  height: 100px;
  background: #F9CA4B;

  .icons {
    flex-direction: row;
    height: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
    max-width: 420px;

    .social {
      display: flex;
      align-items: center;
      justify-content: center;

      text-decoration: none;
      font-size: 16pt;
      background: none;
      border: 1px solid #33495F;
      border-radius: 60px;
      color: #33495F;

      height: 40px;
      line-height: 30px;
      margin: auto 3px;
      width: 40px;
      text-align: center;
    }

    .logooutline {
      height: 40px;
    }
  }
}
