.Header {
  display: flex;
  background: #ECF0F1;
  border-bottom: 4px solid #33495F;
  justify-content: center;

  .headerContainer {
    padding: 1rem 0 0 0;
    @media (min-width: 768px) {
      padding: 2.5rem 0 0 0;
    }

    .logo {
      height: 96px;
      margin-bottom: 1em;
      @media (min-width: 768px) {
        height: 250px;
        margin-bottom: 1.65em;
      }
    }

    .skyline {
      width: 100%;
      margin-bottom: -4px;
    }
  }

}
