//fonts

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

body {
  margin: 0;
}

.flexLeft {
  flex: 1;
}

.flexMiddle {
  min-width: 750px;
  max-width: 750px;
}

.flexRight {
  flex: 1;
}

.serviceImage {
  height: 85px;
}

.serviceBody {
  font-family: "open sans";
  font-weight: 100;
  line-height: 1.5;
  color: #888;
  font-size: 15px;
  margin: 0 30px;
}
