.Footer {
  height: 240px;
  background: #F9CA4B;
  justify-content: center;

  .summary {
    display: flex;
    flex-direction: row;
    height: 140px;
    padding-top: 2em;

    .siteMap {
      color: #33495F;
      display: flex;
      flex-direction: row;
      width: 450px;

      ul {
        margin-left: 3em;
      }
    }
    .contactInfo {
      width: 300px;
      h1, h2 {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }

  .icons {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 320px;

    .social {
      display: flex;
      align-items: center;
      justify-content: center;

      text-decoration: none;
      font-size: 16pt;
      background: none;
      border: 1px solid #33495F;
      border-radius: 60px;
      color: #33495F;

      height: 40px;
      line-height: 30px;
      margin: auto 3px;
      width: 40px;
      text-align: center;
    }

    .logooutline {
      height: 40px;
    }
  }
}
