//@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

.Footer {
  height: 200px;
  background: #F9CA4B;
  justify-content: center;

  .summary {
    display: flex;
    flex-direction: row;
    padding-top: 1em;

    a {
      text-decoration: none;
      color: black;
    }

    .siteMap {
      color: black;
      //color: #33495F;
      display: flex;
      flex-direction: row;
      width: 450px;

      ul {
        margin-left: 3em;
      }
    }
    .contactInfo {
      width: 300px;
      h1, h2 {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }

  .icons {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 480px;
    padding-top: 1em;

    .social {
      display: flex;
      align-items: center;
      justify-content: center;

      text-decoration: none;
      font-size: 16pt;
      background: none;
      border: 1px solid #33495F;
      border-radius: 60px;
      color: #33495F;

      height: 40px;
      line-height: 30px;
      margin: auto 3px;
      width: 40px;
      text-align: center;

      &.twitter {
        &:hover {
          color: #1dcaff;
        }
      }
      &.facebook {
        &:hover {
          color: #3b5998;
        }
      }
      &.github {
        &:hover {
          color: black;
        }
      }
      &.linkedin {
        &:hover {
          color: #0077B5;
        }
      }
      &.medium {
        &:hover {
          color: #0be370;
        }
      }
      &.maps {
        &:hover {
          color: #e81e25;
        }
      }
    }
    .logooutline {
      height: 40px;
    }
  }
}
